# -*- coding: utf-8 -*-
# vim: ft=yaml
---
## Machine config
os: 'linux'
arch: 'amd64'
dist: 'bionic'
version: '~> 1.0'

## Language and cache config
language: 'ruby'
cache: 'bundler'

env:
  global:
    - CHANGE_MINIKUBE_NONE_USER=true
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_HOME=$HOME
    - CHANGE_MINIKUBE_NONE_USER=true
    - KUBECONFIG=$HOME/.kube/config

## Services config
services:
  - docker

## Script to run for the test stage
script:
  - env
  - bin/kitchen verify "${INSTANCE}"

## Stages and jobs matrix
stages:
  - test
  - name: 'release'
    if: 'branch = master AND type != pull_request'
jobs:
  include:
    ## Define the test stage that runs the linters (and testing matrix, if applicable)

    # Run all of the linters in a single job
    - language: 'node_js'
      node_js: 'lts/*'
      env: 'Lint'
      name: 'Lint: salt-lint, yamllint, rubocop, shellcheck & commitlint'
      before_install: 'skip'
      script:
        # Install and run `salt-lint`
        - pip install --user salt-lint
        - git ls-files -- '*.sls' '*.jinja' '*.j2' '*.tmpl' '*.tst'
                        | xargs salt-lint
        # Install and run `yamllint`
        # Need at least `v1.17.0` for the `yaml-files` setting
        - pip install --user yamllint>=1.17.0
        - yamllint -s .
        # Install and run `rubocop`
        - gem install rubocop
        - rubocop -d
        # Run `shellcheck` (already pre-installed in Travis)
        - shellcheck --version
        - git ls-files -- '*.sh' '*.bash' '*.ksh'
                        | xargs shellcheck
        # Install and run `commitlint`
        - npm i -D @commitlint/config-conventional
                   @commitlint/travis-cli
        - commitlint-travis

    # Run `pre-commit` linters in a single job
    - language: 'python'
      env: 'Lint_pre-commit'
      name: 'Lint: pre-commit'
      before_install: 'skip'
      cache:
        directories:
          - $HOME/.cache/pre-commit
      script:
        # Install and run `pre-commit`
        - pip install pre-commit==2.7.1
        - pre-commit run --all-files --color always --verbose
        - pre-commit run --color always --hook-stage manual --verbose commitlint-travis

    ## Define the rest of the matrix based on Kitchen testing
    # Make sure the instances listed below match up with
    # the `platforms` defined in `kitchen.yml`
    # env: INSTANCE=archive-debian-10-master-py3
    - env: INSTANCE=package-debian-10-master-py3
    - env: INSTANCE=archive-ubuntu-1804-master-py3
    - env: INSTANCE=clean-ubuntu-1804-master-py3
    - env: INSTANCE=package-ubuntu-1804-master-py3
    - env: INSTANCE=archive-centos-8-master-py3
    - env: INSTANCE=package-centos-8-master-py3
    # env: INSTANCE=archive-fedora-31-master-py3
    - env: INSTANCE=package-fedora-31-master-py3
    - env: INSTANCE=archive-opensuse-leap-151-master-py3
    - env: INSTANCE=package-opensuse-leap-151-master-py3
    - env: INSTANCE=archive-amazonlinux-2-master-py3
    # env: INSTANCE=package-amazonlinux-2-master-py3
    # - env: INSTANCE=archive-debian-10-3000-2-py3
    # - env: INSTANCE=archive-debian-9-3000-2-py3
    # - env: INSTANCE=archive-ubuntu-1804-3000-2-py3
    # - env: INSTANCE=archive-centos-8-3000-2-py3
    # - env: INSTANCE=archive-centos-7-3000-2-py3
    # - env: INSTANCE=archive-fedora-31-3000-2-py3
    # - env: INSTANCE=archive-opensuse-leap-151-3000-2-py3
    # - env: INSTANCE=archive-amazonlinux-2-3000-2-py3
    # - env: INSTANCE=archive-ubuntu-1804-3000-2-py2
    # - env: INSTANCE=archive-ubuntu-1604-3000-2-py2
    # - env: INSTANCE=archive-archive-base-latest-3000-2-py2
    # - env: INSTANCE=archive-debian-10-2019-2-py3
    # - env: INSTANCE=archive-debian-9-2019-2-py3
    # - env: INSTANCE=archive-ubuntu-1804-2019-2-py3
    # - env: INSTANCE=archive-ubuntu-1604-2019-2-py3
    # - env: INSTANCE=archive-centos-8-2019-2-py3
    # - env: INSTANCE=archive-centos-7-2019-2-py3
    # - env: INSTANCE=archive-fedora-31-2019-2-py3
    # env: INSTANCE=archive-opensuse-leap-151-2019-2-py3
    # - env: INSTANCE=archive-amazonlinux-2-2019-2-py3
    # - env: INSTANCE=archive-centos-6-2019-2-py2
    # - env: INSTANCE=archive-amazonlinux-1-2019-2-py2
    - env: INSTANCE=archive-arch-base-latest-2019-2-py2
    - env: INSTANCE=package-arch-base-latest-2019-2-py2

    ## Define the release stage that runs `semantic-release`
    - stage: 'release'
      language: 'node_js'
      node_js: 'lts/*'
      env: 'Release'
      name: 'Run semantic-release inc. file updates to AUTHORS, CHANGELOG & FORMULA'
      before_install: 'skip'
      script:
        # Update `AUTHORS.md`
        - export MAINTAINER_TOKEN=${GH_TOKEN}
        - go get github.com/myii/maintainer
        - maintainer contributor

        # Install all dependencies required for `semantic-release`
        - npm i -D @semantic-release/changelog@3
                   @semantic-release/exec@3
                   @semantic-release/git@7
      deploy:
        provider: 'script'
        # Opt-in to `dpl v2` to complete the Travis build config validation (beta)
        # * https://docs.travis-ci.com/user/build-config-validation
        # Deprecated `skip_cleanup` can now be avoided, `cleanup: false` is by default
        edge: true
        # Run `semantic-release`
        script: 'npx semantic-release@15.14'

# Notification options: `always`, `never` or `change`
notifications:
  webhooks:
    if: 'repo = saltstack-formulas/docker-formula'
    urls:
      - https://saltstack-formulas.zulipchat.com/api/v1/external/travis?api_key=HsIq3o5QmLxdnVCKF9is0FUIpkpAY79P&stream=CI&topic=saltstack-formulas%2Fdocker-formula&ignore_pull_requests=true
    on_success: always  # default: always
    on_failure: always  # default: always
    on_start: always    # default: never
    on_cancel: always   # default: always
    on_error: always    # default: always
