# -*- coding: utf-8 -*-
# vim: ft=yaml
---
################################################################################
# NOTE: This file is UNMAINTAINED; it is provided for references purposes only.
#       No guarantees are tendered that this structure will work after 2020.
################################################################################
# * https://en.wikipedia.org/wiki/Travis_CI:
#   - "... free open-source plans were removed in [sic] the end of 2020"
#   - https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing
#   - https://ropensci.org/technotes/2020/11/19/moving-away-travis/
################################################################################
## Machine config
os: 'linux'
arch: 'amd64'
dist: 'bionic'
version: '~> 1.0'

## Language and cache config
language: 'ruby'
cache: 'bundler'

env:
  global:
    - CHANGE_MINIKUBE_NONE_USER=true
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_HOME=$HOME
    - KUBECONFIG=$HOME/.kube/config

## Services config
services:
  - docker

## Script to run for the test stage
script:
  - bin/kitchen verify "${INSTANCE}"

## Stages and jobs matrix
stages:
  - test
  # # As part of the switch away from Travis CI, ensure that the `release` stage
  # # is not run inadvertently
  # - name: 'release'
  #   if: 'branch = master AND type != pull_request'
jobs:
  include:
    ## Define the test stage that runs the linters (and testing matrix, if applicable)

    # Run all of the linters in a single job
    - language: 'node_js'
      node_js: 'lts/*'
      env: 'Lint'
      name: 'Lint: salt-lint, yamllint, rubocop, shellcheck & commitlint'
      before_install: 'skip'
      script:
        # Install and run `salt-lint`
        - pip install --user salt-lint
        - git ls-files -- '*.sls' '*.jinja' '*.j2' '*.tmpl' '*.tst'
                        | xargs salt-lint
        # Install and run `yamllint`
        # Need at least `v1.17.0` for the `yaml-files` setting
        - pip install --user yamllint>=1.17.0
        - yamllint -s .
        # Install and run `rubocop`
        - gem install rubocop
        - rubocop -d
        # Run `shellcheck` (already pre-installed in Travis)
        - shellcheck --version
        - git ls-files -- '*.sh' '*.bash' '*.ksh'
                        | xargs shellcheck
        # Install and run `commitlint`
        - npm i -D @commitlint/config-conventional
                   @commitlint/travis-cli
        - commitlint-travis

    # Run `pre-commit` linters in a single job
    - language: 'python'
      env: 'Lint_pre-commit'
      name: 'Lint: pre-commit'
      before_install: 'skip'
      cache:
        directories:
          - $HOME/.cache/pre-commit
      script:
        # Install and run `pre-commit`
        - pip install pre-commit==2.7.1
        - pre-commit run --all-files --color always --verbose
        - pre-commit run --color always --hook-stage manual --verbose commitlint-travis

    ## Define the rest of the matrix based on Kitchen testing
    # Make sure the instances listed below match up with
    # the `platforms` defined in `kitchen.yml`
    # - env: INSTANCE=archive-debian-11-tiamat-py3
    # - env: INSTANCE=archive-debian-10-tiamat-py3
    # - env: INSTANCE=archive-debian-9-tiamat-py3
    # - env: INSTANCE=archive-ubuntu-2004-tiamat-py3
    # - env: INSTANCE=archive-ubuntu-1804-tiamat-py3
    # - env: INSTANCE=archive-centos-stream8-tiamat-py3
    # - env: INSTANCE=archive-centos-7-tiamat-py3
    # - env: INSTANCE=archive-amazonlinux-2-tiamat-py3
    # - env: INSTANCE=archive-oraclelinux-8-tiamat-py3
    # - env: INSTANCE=archive-oraclelinux-7-tiamat-py3
    # - env: INSTANCE=archive-almalinux-8-tiamat-py3
    # - env: INSTANCE=archive-rockylinux-8-tiamat-py3
    # - env: INSTANCE=archive-debian-11-master-py3
    # - env: INSTANCE=package-debian-11-master-py3
    # - env: INSTANCE=repo-debian-11-master-py3
    # - env: INSTANCE=clean-debian-11-master-py3
    # - env: INSTANCE=composeclean-debian-11-master-py3
    # - env: INSTANCE=dockeronly-debian-11-master-py3
    - env: INSTANCE=debian-11-master-py3
    # - env: INSTANCE=archive-debian-10-master-py3
    # - env: INSTANCE=package-debian-10-master-py3
    # - env: INSTANCE=repo-debian-10-master-py3
    # - env: INSTANCE=composeclean-debian-10-master-py3
    # - env: INSTANCE=dockeronly-debian-10-master-py3
    - env: INSTANCE=debian-10-master-py3
    # - env: INSTANCE=archive-debian-9-master-py3
    # - env: INSTANCE=package-debian-9-master-py3
    # - env: INSTANCE=repo-debian-9-master-py3
    # - env: INSTANCE=clean-debian-9-master-py3
    # - env: INSTANCE=composeclean-debian-9-master-py3
    # - env: INSTANCE=dockeronly-debian-9-master-py3
    - env: INSTANCE=debian-9-master-py3
    # - env: INSTANCE=archive-ubuntu-2004-master-py3
    # - env: INSTANCE=package-ubuntu-2004-master-py3
    # - env: INSTANCE=repo-ubuntu-2004-master-py3
    # - env: INSTANCE=clean-ubuntu-2004-master-py3
    # - env: INSTANCE=composeclean-ubuntu-2004-master-py3
    # - env: INSTANCE=dockeronly-ubuntu-2004-master-py3
    - env: INSTANCE=ubuntu-2004-master-py3
    # - env: INSTANCE=archive-ubuntu-1804-master-py3
    # - env: INSTANCE=package-ubuntu-1804-master-py3
    # - env: INSTANCE=repo-ubuntu-1804-master-py3
    # - env: INSTANCE=clean-ubuntu-1804-master-py3
    # - env: INSTANCE=composeclean-ubuntu-1804-master-py3
    # - env: INSTANCE=dockeronly-ubuntu-1804-master-py3
    - env: INSTANCE=ubuntu-1804-master-py3
    # - env: INSTANCE=archive-centos-stream8-master-py3
    # - env: INSTANCE=package-centos-stream8-master-py3
    # - env: INSTANCE=repo-centos-stream8-master-py3
    # - env: INSTANCE=clean-centos-stream8-master-py3
    # - env: INSTANCE=composeclean-centos-stream8-master-py3
    # - env: INSTANCE=dockeronly-centos-stream8-master-py3
    - env: INSTANCE=centos-stream8-master-py3
    # - env: INSTANCE=archive-centos-7-master-py3
    # - env: INSTANCE=package-centos-7-master-py3
    # - env: INSTANCE=repo-centos-7-master-py3
    # - env: INSTANCE=clean-centos-7-master-py3
    # - env: INSTANCE=composeclean-centos-7-master-py3
    # - env: INSTANCE=dockeronly-centos-7-master-py3
    - env: INSTANCE=centos-7-master-py3
    # - env: INSTANCE=archive-fedora-35-master-py3
    # - env: INSTANCE=package-fedora-35-master-py3
    # - env: INSTANCE=repo-fedora-35-master-py3
    # - env: INSTANCE=clean-fedora-35-master-py3
    # - env: INSTANCE=composeclean-fedora-35-master-py3
    # - env: INSTANCE=dockeronly-fedora-35-master-py3
    - env: INSTANCE=fedora-35-master-py3
    # - env: INSTANCE=archive-fedora-34-master-py3
    # - env: INSTANCE=package-fedora-34-master-py3
    # - env: INSTANCE=repo-fedora-34-master-py3
    # - env: INSTANCE=clean-fedora-34-master-py3
    # - env: INSTANCE=composeclean-fedora-34-master-py3
    # - env: INSTANCE=dockeronly-fedora-34-master-py3
    - env: INSTANCE=fedora-34-master-py3
    # - env: INSTANCE=archive-opensuse-leap-153-master-py3
    # - env: INSTANCE=package-opensuse-leap-153-master-py3
    # - env: INSTANCE=repo-opensuse-leap-153-master-py3
    # - env: INSTANCE=clean-opensuse-leap-153-master-py3
    # - env: INSTANCE=composeclean-opensuse-leap-153-master-py3
    # - env: INSTANCE=dockeronly-opensuse-leap-153-master-py3
    # - env: INSTANCE=opensuse-leap-153-master-py3
    # - env: INSTANCE=archive-opensuse-tmbl-latest-master-py3
    # - env: INSTANCE=package-opensuse-tmbl-latest-master-py3
    # - env: INSTANCE=repo-opensuse-tmbl-latest-master-py3
    - env: INSTANCE=clean-opensuse-tmbl-latest-master-py3
    # - env: INSTANCE=composeclean-opensuse-tmbl-latest-master-py3
    # - env: INSTANCE=dockeronly-opensuse-tmbl-latest-master-py3
    # - env: INSTANCE=opensuse-tmbl-latest-master-py3
    - env: INSTANCE=archive-amazonlinux-2-master-py3
    # - env: INSTANCE=package-amazonlinux-2-master-py3
    # - env: INSTANCE=repo-amazonlinux-2-master-py3
    # - env: INSTANCE=clean-amazonlinux-2-master-py3
    # - env: INSTANCE=composeclean-amazonlinux-2-master-py3
    # - env: INSTANCE=dockeronly-amazonlinux-2-master-py3
    # - env: INSTANCE=amazonlinux-2-master-py3
    - env: INSTANCE=archive-oraclelinux-8-master-py3
    # - env: INSTANCE=package-oraclelinux-8-master-py3
    # - env: INSTANCE=repo-oraclelinux-8-master-py3
    # - env: INSTANCE=clean-oraclelinux-8-master-py3
    # - env: INSTANCE=composeclean-oraclelinux-8-master-py3
    # - env: INSTANCE=dockeronly-oraclelinux-8-master-py3
    # - env: INSTANCE=oraclelinux-8-master-py3
    - env: INSTANCE=archive-oraclelinux-7-master-py3
    # - env: INSTANCE=package-oraclelinux-7-master-py3
    # - env: INSTANCE=repo-oraclelinux-7-master-py3
    # - env: INSTANCE=clean-oraclelinux-7-master-py3
    # - env: INSTANCE=composeclean-oraclelinux-7-master-py3
    # - env: INSTANCE=dockeronly-oraclelinux-7-master-py3
    # - env: INSTANCE=oraclelinux-7-master-py3
    # - env: INSTANCE=archive-arch-base-latest-master-py3
    # - env: INSTANCE=package-arch-base-latest-master-py3
    # - env: INSTANCE=clean-arch-base-latest-master-py3
    # - env: INSTANCE=composeclean-arch-base-latest-master-py3
    # - env: INSTANCE=dockeronly-arch-base-latest-master-py3
    - env: INSTANCE=arch-base-latest-master-py3
    # - env: INSTANCE=archive-gentoo-stage3-latest-master-py3
    # - env: INSTANCE=package-gentoo-stage3-latest-master-py3
    # - env: INSTANCE=repo-gentoo-stage3-latest-master-py3
    # - env: INSTANCE=clean-gentoo-stage3-latest-master-py3
    # - env: INSTANCE=composeclean-gentoo-stage3-latest-master-py3
    # - env: INSTANCE=dockeronly-gentoo-stage3-latest-master-py3
    # - env: INSTANCE=gentoo-stage3-latest-master-py3
    - env: INSTANCE=archive-gentoo-stage3-systemd-master-py3
    # - env: INSTANCE=package-gentoo-stage3-systemd-master-py3
    # - env: INSTANCE=repo-gentoo-stage3-systemd-master-py3
    # - env: INSTANCE=clean-gentoo-stage3-systemd-master-py3
    # - env: INSTANCE=composeclean-gentoo-stage3-systemd-master-py3
    # - env: INSTANCE=dockeronly-gentoo-stage3-systemd-master-py3
    # - env: INSTANCE=gentoo-stage3-systemd-master-py3
    # - env: INSTANCE=archive-almalinux-8-master-py3
    # - env: INSTANCE=package-almalinux-8-master-py3
    # - env: INSTANCE=repo-almalinux-8-master-py3
    # - env: INSTANCE=clean-almalinux-8-master-py3
    # - env: INSTANCE=composeclean-almalinux-8-master-py3
    # - env: INSTANCE=dockeronly-almalinux-8-master-py3
    - env: INSTANCE=almalinux-8-master-py3
    # - env: INSTANCE=archive-rockylinux-8-master-py3
    # - env: INSTANCE=package-rockylinux-8-master-py3
    # - env: INSTANCE=repo-rockylinux-8-master-py3
    # - env: INSTANCE=clean-rockylinux-8-master-py3
    # - env: INSTANCE=composeclean-rockylinux-8-master-py3
    # - env: INSTANCE=dockeronly-rockylinux-8-master-py3
    - env: INSTANCE=rockylinux-8-master-py3
    # - env: INSTANCE=archive-debian-11-3004-0-py3
    # - env: INSTANCE=archive-debian-10-3004-0-py3
    # - env: INSTANCE=archive-debian-9-3004-0-py3
    # - env: INSTANCE=archive-ubuntu-2004-3004-0-py3
    # - env: INSTANCE=archive-ubuntu-1804-3004-0-py3
    # - env: INSTANCE=archive-centos-stream8-3004-0-py3
    # - env: INSTANCE=archive-centos-7-3004-0-py3
    # - env: INSTANCE=archive-fedora-35-3004-0-py3
    # - env: INSTANCE=archive-fedora-34-3004-0-py3
    # - env: INSTANCE=archive-opensuse-leap-153-3004-0-py3
    # - env: INSTANCE=archive-opensuse-tmbl-latest-3004-0-py3
    # - env: INSTANCE=archive-amazonlinux-2-3004-0-py3
    # - env: INSTANCE=archive-oraclelinux-8-3004-0-py3
    # - env: INSTANCE=archive-oraclelinux-7-3004-0-py3
    # - env: INSTANCE=archive-arch-base-latest-3004-0-py3
    # - env: INSTANCE=archive-gentoo-stage3-latest-3004-0-py3
    # - env: INSTANCE=archive-gentoo-stage3-systemd-3004-0-py3
    # - env: INSTANCE=archive-almalinux-8-3004-0-py3
    # - env: INSTANCE=archive-rockylinux-8-3004-0-py3
    # - env: INSTANCE=archive-debian-10-3003-3-py3
    # - env: INSTANCE=archive-debian-9-3003-3-py3
    # - env: INSTANCE=archive-ubuntu-2004-3003-3-py3
    # - env: INSTANCE=archive-ubuntu-1804-3003-3-py3
    # - env: INSTANCE=archive-centos-stream8-3003-3-py3
    # - env: INSTANCE=archive-centos-7-3003-3-py3
    # - env: INSTANCE=archive-fedora-35-3003-3-py3
    # - env: INSTANCE=archive-fedora-34-3003-3-py3
    # - env: INSTANCE=archive-opensuse-leap-153-3003-3-py3
    # - env: INSTANCE=archive-opensuse-tmbl-latest-3003-3-py3
    # - env: INSTANCE=archive-amazonlinux-2-3003-3-py3
    # - env: INSTANCE=archive-oraclelinux-8-3003-3-py3
    # - env: INSTANCE=archive-oraclelinux-7-3003-3-py3
    # - env: INSTANCE=archive-gentoo-stage3-latest-3003-3-py3
    # - env: INSTANCE=archive-gentoo-stage3-systemd-3003-3-py3
    # - env: INSTANCE=archive-almalinux-8-3003-3-py3
    # - env: INSTANCE=archive-debian-10-3002-7-py3
    # - env: INSTANCE=archive-debian-9-3002-7-py3
    # - env: INSTANCE=archive-ubuntu-2004-3002-7-py3
    # - env: INSTANCE=archive-ubuntu-1804-3002-7-py3
    # - env: INSTANCE=archive-centos-7-3002-7-py3
    # - env: INSTANCE=archive-fedora-35-3002-7-py3
    # - env: INSTANCE=archive-fedora-34-3002-7-py3
    # - env: INSTANCE=archive-opensuse-leap-153-3002-7-py3
    # - env: INSTANCE=archive-opensuse-tmbl-latest-3002-7-py3
    # - env: INSTANCE=archive-amazonlinux-2-3002-7-py3
    # - env: INSTANCE=archive-oraclelinux-8-3002-7-py3
    # - env: INSTANCE=archive-oraclelinux-7-3002-7-py3
    # - env: INSTANCE=archive-gentoo-stage3-latest-3002-7-py3
    # - env: INSTANCE=archive-gentoo-stage3-systemd-3002-7-py3

    ## Define the release stage that runs `semantic-release`
    - stage: 'release'
      language: 'node_js'
      node_js: 'lts/*'
      env: 'Release'
      name: 'Run semantic-release inc. file updates to AUTHORS, CHANGELOG & FORMULA'
      before_install: 'skip'
      script:
        # Update `AUTHORS.md`
        - export MAINTAINER_TOKEN=${GH_TOKEN}
        - go get github.com/myii/maintainer
        - maintainer contributor

        # Install all dependencies required for `semantic-release`
        - npm i -D @semantic-release/changelog@3
                   @semantic-release/exec@3
                   @semantic-release/git@7
      deploy:
        provider: 'script'
        # Opt-in to `dpl v2` to complete the Travis build config validation (beta)
        # * https://docs.travis-ci.com/user/build-config-validation
        # Deprecated `skip_cleanup` can now be avoided, `cleanup: false` is by default
        edge: true
        # Run `semantic-release`
        script: 'npx semantic-release@15.14'

# Notification options: `always`, `never` or `change`
notifications:
  webhooks:
    if: 'repo = saltstack-formulas/docker-formula'
    urls:
      - https://saltstack-formulas.zulipchat.com/api/v1/external/travis?api_key=HsIq3o5QmLxdnVCKF9is0FUIpkpAY79P&stream=CI&topic=saltstack-formulas%2Fdocker-formula&ignore_pull_requests=true
    on_success: always  # default: always
    on_failure: always  # default: always
    on_start: always    # default: never
    on_cancel: always   # default: always
    on_error: always    # default: always
