sudo: required


language: python

services:
  - docker

before_install:
  - bundle install


env:
  matrix:
    - INSTANCE: default-ubuntu-1804
    - INSTANCE: default-debian-stretch
    - INSTANCE: default-centos-7
    - INSTANCE: version-1131-debian-jessie
    - INSTANCE: version-1131-centos-7

script:
  - bundle exec kitchen verify ${INSTANCE}
