# New 2.x registry
registry:
  lookup:
    version: 2
    restart: always
    runoptions:
      - "-e REGISTRY_LOG_LEVEL=warn"
      - "-e REGISTRY_STORAGE=s3"
      - "-e REGISTRY_STORAGE_S3_REGION=us-west-1"
      - "-e REGISTRY_STORAGE_S3_BUCKET=my-bucket"
      - "-e REGISTRY_STORAGE_S3_ROOTDIRECTORY=my-folder/my-subfolder/my-sub-subfolder"
      - "--log-driver=syslog"

# Old registry < 2
#registry:
#  lookup:
#    restart: 'always'
#    amazon:
#      aws_bucket: 'my-registry'
#      aws_key: 'ABCDEFGHIJK123456789'
#      aws_secret: 'AbcD+efG-HIjK1+++23456+789'

docker-pkg:
  lookup:
    version: 1.6.2
    refresh_repo: false
    process_signature: /usr/bin/docker
    # pip version is needed to maintain backwards compatibility with the above docker version
    pip_version: '<= 1.2.3'
    config:
      - DOCKER_OPTS="-s btrfs --dns 192.168.0.2"
      - export http_proxy="http://192.168.0.4:3128/"
