# vim: sts=2 ts=2 sw=2 et ai

docker:
  process_signature: '/usr/bin/docker'
  use_pypi_pip: False
  install_docker_py: False
  refresh_repo: True
  configfile: /etc/default/docker
  config: []
  pip: []

  use_upstream_repo: True
  use_old_repo: False
  proxy: False

  # Repo parameters are set in docker/osfamilymap.yaml

  pkg:
    name: docker-ce
    old_name: docker-engine
    # For backward compatibility, this will be overriden by
    # docker:version, if defined
    version: latest
    allow_updates: False
    hold: False

  pkgs:
    - iptables
    - ca-certificates
    - python-docker
    - docker-compose
    - python-pip

  compose_version:

  containers:
    skip_translate: None
    force_present: False
    force_running: False

  kernel:
    pkg:
      fromrepo: '' 
    pkgs: []
