########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################

{%- if environ %}
    {%- for line in environ|unique %}
{{ line }}
    {%- endfor %}
{%- endif %}
