#########################################################
# File managed by Salt. Changes risk being overwritten.
#########################################################
[Unit]
Description={{ desc }}
Wants=network-online.target
After=
Documentation=https://docs.docker.com

[Service]
User={{ user }}
Group={{ group }}
WorkingDirectory={{ workdir }}
ExecStart={{ start }}
ExecStop={{ stop }}
PIDFile=/var/run/{{ name }}.pid
Environment={{ '' if not env else env }}
{%- if limitnofile != 'None' %}
LimitNOFILE={{ limitnofile }}
{%- endif %}

[Install]
WantedBy=multi-user.target
