# -*- coding: utf-8 -*-
# vim: ft=yaml
---
name: 'Kitchen (Linux)'
'on': ['push', 'pull_request']

jobs:
  kitchen:
    runs-on: 'ubuntu-20.04'
    env:
      CHANGE_MINIKUBE_NONE_USER: true
      MINIKUBE_WANTUPDATENOTIFICATION: false
      MINIKUBE_WANTREPORTERRORPROMPT: false
      MINIKUBE_HOME: '$HOME'
      KUBECONFIG: '$HOME/.kube/config'
    strategy:
      fail-fast: false
      matrix:
        instance:
          # - archive-debian-10-tiamat-py3
          # - archive-debian-9-tiamat-py3
          # - archive-ubuntu-2004-tiamat-py3
          # - archive-ubuntu-1804-tiamat-py3
          # - archive-ubuntu-1604-tiamat-py3
          # - archive-centos-8-tiamat-py3
          # - archive-centos-7-tiamat-py3
          # - archive-amazonlinux-2-tiamat-py3
          # - archive-oraclelinux-8-tiamat-py3
          # - archive-oraclelinux-7-tiamat-py3
          # - archive-debian-10-master-py3
          # - package-debian-10-master-py3
          # - clean-debian-10-master-py3
          - debian-10-master-py3
          # - archive-debian-9-master-py3
          # - package-debian-9-master-py3
          # - clean-debian-9-master-py3
          - debian-9-master-py3
          # - archive-ubuntu-2004-master-py3
          # - package-ubuntu-2004-master-py3
          # - clean-ubuntu-2004-master-py3
          - ubuntu-2004-master-py3
          # - archive-ubuntu-1804-master-py3
          # - package-ubuntu-1804-master-py3
          # - clean-ubuntu-1804-master-py3
          - ubuntu-1804-master-py3
          # - archive-ubuntu-1604-master-py3
          # - package-ubuntu-1604-master-py3
          # - clean-ubuntu-1604-master-py3
          - ubuntu-1604-master-py3
          # - archive-centos-8-master-py3
          # - package-centos-8-master-py3
          # - clean-centos-8-master-py3
          - centos-8-master-py3
          # - archive-centos-7-master-py3
          # - package-centos-7-master-py3
          # - clean-centos-7-master-py3
          - centos-7-master-py3
          # - archive-fedora-33-master-py3
          # - package-fedora-33-master-py3
          # - clean-fedora-33-master-py3
          - fedora-33-master-py3
          # - archive-fedora-32-master-py3
          # - package-fedora-32-master-py3
          # - clean-fedora-32-master-py3
          - fedora-32-master-py3
          # - archive-opensuse-leap-152-master-py3
          # - package-opensuse-leap-152-master-py3
          # - clean-opensuse-leap-152-master-py3
          - opensuse-leap-152-master-py3
          # - archive-opensuse-tmbl-latest-master-py3
          # - package-opensuse-tmbl-latest-master-py3
          - clean-opensuse-tmbl-latest-master-py3
          # - opensuse-tmbl-latest-master-py3
          - archive-amazonlinux-2-master-py3
          # - package-amazonlinux-2-master-py3
          # - clean-amazonlinux-2-master-py3
          # - amazonlinux-2-master-py3
          - archive-oraclelinux-8-master-py3
          # - package-oraclelinux-8-master-py3
          # - clean-oraclelinux-8-master-py3
          # - oraclelinux-8-master-py3
          - archive-oraclelinux-7-master-py3
          # - package-oraclelinux-7-master-py3
          # - clean-oraclelinux-7-master-py3
          # - oraclelinux-7-master-py3
          # - archive-gentoo-stage3-latest-master-py3
          # - package-gentoo-stage3-latest-master-py3
          # - clean-gentoo-stage3-latest-master-py3
          # - gentoo-stage3-latest-master-py3
          - archive-gentoo-stage3-systemd-master-py3
          # - package-gentoo-stage3-systemd-master-py3
          # - clean-gentoo-stage3-systemd-master-py3
          # - gentoo-stage3-systemd-master-py3
          # - archive-debian-10-3002-5-py3
          # - archive-debian-9-3002-5-py3
          # - archive-ubuntu-2004-3002-5-py3
          # - archive-ubuntu-1804-3002-5-py3
          # - archive-ubuntu-1604-3002-5-py3
          # - archive-centos-8-3002-5-py3
          # - archive-centos-7-3002-5-py3
          # - archive-fedora-33-3002-5-py3
          # - archive-fedora-32-3002-5-py3
          # - archive-amazonlinux-2-3002-5-py3
          # - archive-oraclelinux-8-3002-5-py3
          # - archive-oraclelinux-7-3002-5-py3
          # - archive-arch-base-latest-3002-5-py3
          # - package-arch-base-latest-3002-5-py3
          # - clean-arch-base-latest-3002-5-py3
          - arch-base-latest-3002-5-py3
          # - archive-gentoo-stage3-latest-3002-5-py3
          # - archive-gentoo-stage3-systemd-3002-5-py3
          # - archive-opensuse-leap-152-3002-2-py3
          # - archive-opensuse-tmbl-latest-3002-2-py3
          # - archive-debian-10-3001-6-py3
          # - archive-debian-9-3001-6-py3
          # - archive-ubuntu-2004-3001-6-py3
          # - archive-ubuntu-1804-3001-6-py3
          # - archive-ubuntu-1604-3001-6-py3
          # - archive-centos-8-3001-6-py3
          # - archive-centos-7-3001-6-py3
          # - archive-fedora-33-3001-6-py3
          # - archive-fedora-32-3001-6-py3
          # - archive-opensuse-leap-152-3001-6-py3
          # - archive-opensuse-tmbl-latest-3001-6-py3
          # - archive-amazonlinux-2-3001-6-py3
          # - archive-oraclelinux-8-3001-6-py3
          # - archive-oraclelinux-7-3001-6-py3
          # - archive-arch-base-latest-3001-6-py3
          # - archive-gentoo-stage3-latest-3001-6-py3
          # - archive-gentoo-stage3-systemd-3001-6-py3
          # - archive-debian-10-3000-8-py3
          # - archive-debian-9-3000-8-py3
          # - archive-ubuntu-1804-3000-8-py3
          # - archive-ubuntu-1604-3000-8-py3
          # - archive-centos-8-3000-8-py3
          # - archive-centos-7-3000-8-py3
          # - archive-opensuse-leap-152-3000-8-py3
          # - archive-amazonlinux-2-3000-8-py3
          # - archive-oraclelinux-8-3000-8-py3
          # - archive-oraclelinux-7-3000-8-py3
          # - archive-gentoo-stage3-latest-3000-8-py3
          # - archive-gentoo-stage3-systemd-3000-8-py3
          # - archive-ubuntu-1804-3000-8-py2
          # - archive-ubuntu-1604-3000-8-py2
          # - archive-arch-base-latest-3000-8-py2
    steps:
      - uses: 'actions/checkout@v2'
      - uses: 'actions/cache@v1'
        with:
          path: 'vendor/bundle'
          key: |
            ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: "${{ runner.os }}-gems-"
      - name: 'Install Bundler'
        run: |
          sudo gem install bundler \
            -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)" \
            --quiet --no-document
      - name: 'Run Bundler'
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: 'Run Test Kitchen'
        run: 'bundle exec kitchen verify ${{ matrix.instance }}'
        env:
          CHEF_LICENSE: 'accept-no-persist'
